@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primary-color: #36D7B7;
    --primary-font: 'Lato', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.gridContainer {
    display: grid;
    height: 100vh;
    width: 100%;
}

.feed {
    grid-area: feed;
}

.nav {
    grid-area: nav;
}

@media screen and (max-width: 499px) {
    .gridContainer {
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 
        "feed"
        "nav";
    }

    .feedContainer {
        background-color: #fff;
        display: grid;
        grid-template-rows: 7% 1fr;
        grid-gap: .5px;
        background-color: rgba(224, 224, 224, 1);
    }

    .nav {
        background-color: #fff;
    }

    .navLogo {
        display: none;
    }

    .feedHeader {
        background-color: #fff;
    }

    .headerProfilePicture {
        width: 10%;
    }

    .postWritingContainer {
        display: none;
    }

    .userFeed {
        background-color: #fff;
    }

}

@media screen and (min-width: 500px) and (max-width: 1279px) {
    .gridContainer {
        grid-template-columns: 15% 1fr;
        grid-template-areas: "nav feed";
        grid-gap: .5px;
        background-color: rgba(224, 224, 224, 0.5);
    }

    .feedContainer {
        background-color: #fff;
        display: grid;
        grid-template-rows: 10% 20% 1fr;
        grid-gap: .5px;
        background-color: rgba(224, 224, 224, 0.5);
    }

    .nav {
        background-color: #fff;
    }

    .navList {
        list-style-type: none;
    }

    .navListItem {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .navLogo {
        width: 42px;
    }

    .navText {
        display: none;
    }

    .feedHeader {
        background-color: #fff;
    }

    .headerProfilePicture {
        display: none;
    }

    .postWritingContainer {
        background-color: #fff;
    }

    .userFeed {
        background-color: #fff;
    }
}

@media screen and (min-width: 1280px) {
    .gridContainer {
        grid-template-columns: 15% 1fr;
        grid-template-areas: "nav feed";
        grid-gap: .5px;
        background-color: rgba(224, 224, 224, 0.5);
    }

    .feedContainer {
        background-color: #fff;
        display: grid;
        grid-template-rows: 10% 20% 1fr;
        grid-gap: .5px;
        background-color: rgba(224, 224, 224, 0.5);
    }

    .nav {
        background-color: #fff;
    }

    .navList {
        list-style-type: none;
    }

    .navListItem {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .navText {
        padding-left: .5em;
    }

    .navHomeText {
        color: #36D7B7;
    }

    .navHomeLink {
        color: #36D7B7;
    }

    .navNotificationsLink {
        color: black;
    }

    .navMessagesLink {
        color: black;
    }

    .navProfileLink {
        color: black;
    }

    .navWriteLink {
        color: black;
    }

    .navLogo {
        width: 42px;
    }

    .feedHeader {
        background-color: #fff;
    }

    .headerProfilePicture {
        display: none;
    }

    .postWritingContainer {
        background-color: #fff;
    }

    .userFeed {
        background-color: #fff;
    }
}