@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primary-color: #36D7B7;
    --primary-font: 'Lato', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
}

.item-1 {
    background-color: #fff;
    grid-area: item-1;
}

.item-2 {
    background-color: #36D7B7;
    grid-area: item-2;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 75vh);
        grid-template-areas: 
            "item-1"
            "item-2";
    }
}

@media (min-width: 1001px) {
    .grid-container {
        grid-template-columns: auto 700px;
        grid-template-areas: 
            "item-2 item-1";
    }

    .logo-container-1 {
        height: 50vh;
    }
}