@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --primary-color: #36D7B7;
    --primary-font: 'Lato', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.gridContainer {
    display: grid;
    height: 100vh;
    width: 100%;
}

.nav {
    grid-area: nav;
}

@media screen and (max-width: 480px) {
    .headerProfilePicture {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .gridContainer {
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 
            "messagesContainer"
            "nav";
        grid-gap: .5px;
        background-color: rgba(224, 224, 224, 1);
    }

    .messagesContainer {
        background-color: #fff;
        display: grid;
        grid-area: messagesContainer;
        grid-template-rows: 10% 1fr;
        background-color: rgba(224, 224, 224, 0.5);
        display: grid;
        grid-template-areas: 
            "messagesHeader"
            "userMessages";

    }

    .nav {
        background-color: #fff;
    }

    .navList {
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
        grid-template-columns: repeat(5, 1fr);
        list-style-type: none;
        margin: 0;
        padding: 0;
        grid-template-areas: "navHomeLink navNotificationsLink navMessagesLink navProfileLink navWriteLink" ;
    }

    .navLogoListItem {
        display: none;
    }

    .navText {
        display: none;
    }

    .navHomeLink {
        color: black;
        grid-area: navHomeLink;
    }

    .navNotificationsLink {
        color: black;
        grid-area: navNotificationsLink;
    }

    .navMessagesLink {
        color: #36D7B7;
        grid-area: navMessagesLink;
    }

    .navProfileLink {
        color: black;
        grid-area: navProfileLink;
    }

    .navWriteLink {
        color: black;
        grid-area: navWriteLink;
    }

    .messagesHeader {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .headerProfilePicture {
        width: 8%;
        margin-left: .5em;
        object-fit: contain;
        border-radius: 50%;
    }

    .messagesHeaderText {
        font-weight: 900;
        font-size: 1.5rem;
        padding-left: 1em;
    }

    .userMessages {
        background-color: #fff;
    }

    .addMessageLogo {
        margin-left: 50%;
        margin-right: 1em;
        color: #36D7B7;
        transition: .3s ease-in-out;
    }

    .addMessageLogo:hover {
        scale: 1.15;
        color: #27a088;
    }

    .userMessages {
        background-color: #fff;
        grid-area: userMessages;
        border: .25px solid rgba(224, 224, 224, 0.5);
        border-top: 7px solid rgb(247, 249, 249);
        display: grid;
        grid-template-rows: 14% 1fr;
        grid-template-areas: 
        "messagesSearchBarContainer"
        "messagesConvos";
        justify-items: center;
    }

    .messagesSearchBarContainer {
        grid-area: messagesSearchBarContainer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: .25px solid rgba(224, 224, 224, 0.5);
    }

    .messagesSearchBar {
        all: unset;
        background-color: rgb(240, 240, 240);
        border-radius: 5em;
        padding-left: 1em;
        width: 75%;
        height: 50%;
    }

    .messagesConvos {
        grid-area: messagesConvos;
    }

    .currentConvo {
        display: none;
    }
}

@media screen and (min-width: 580px) and (max-width: 1270px) {
    .gridContainer {
        grid-template-columns: 15% 1fr 1fr;
        grid-template-areas: "nav messagesContainer currentConvo";
        background-color: rgba(224, 224, 224, 0.5);
    }

    .messagesContainer {
        background-color: #fff;
        display: grid;
        grid-area: messagesContainer;
        grid-template-rows: 10% 1fr;
        background-color: rgba(224, 224, 224, 0.5);
        grid-template-areas: 
            "messagesHeader"
            "userMessages";
    }

    .nav {
        background-color: #fff;
        border: .25px solid rgba(224, 224, 224, 0.5);
    }

    .navList {
        list-style-type: none;
    }

    .navListItem {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .navLogo {
        width: 42px;
    }

    .navText {
        display: none;
    }

    .navHomeLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navNotificationsLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navMessagesLink {
        color: #36D7B7;
        transition: .3s ease-in-out;
    }

    .navProfileLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navWriteLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navHomeLink:hover {
        color: #36D7B7;
    }

    .navNotificationsLink:hover {
        color: #36D7B7;
    }

    .navMessagesLink:hover {
        color: #36D7B7;
    }

    .navProfileLink:hover {
        color: #36D7B7;
    }

    .navWriteLink:hover {
        color: #36D7B7;
    }

    .messagesHeader {
        background-color: #fff;
        border: .25px solid rgba(224, 224, 224, 0.5);
        display: flex;
        align-items: center;
        grid-area: messagesHeader;
    }

    .headerProfilePicture {
        display: none;
    }

    .messagesHeaderText {
        font-weight: 900;
        font-size: 1.5rem;
        padding-left: .5em;
    }

    .addMessageLogo {
        margin-left: 8em;
        margin-right: 1em;
        color: #36D7B7;
        transition: .3s ease-in-out;
    }

    .addMessageLogo:hover {
        scale: 1.15;
        color: #27a088;
    }

    .userMessages {
        background-color: #fff;
        grid-area: userMessages;
        border: .25px solid rgba(224, 224, 224, 0.5);
        border-top: 7px solid rgb(247, 249, 249);
        display: grid;
        grid-template-rows: 14% 1fr;
        grid-template-areas: 
        "messagesSearchBarContainer"
        "messagesConvos";
        justify-items: center;
    }

    .messagesSearchBarContainer {
        grid-area: messagesSearchBarContainer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: .25px solid rgba(224, 224, 224, 0.5);
    }

    .messagesSearchBar {
        all: unset;
        background-color: rgb(240, 240, 240);
        border-radius: 5em;
        padding-left: 1em;
        width: 75%;
        height: 50%;
    }

    .messagesConvos {
        grid-area: messagesConvos;
        background-color: #fff;
    }

    .currentConvo {
        background-color: #fff;
        grid-area: currentConvo;
    }
}

@media screen and (min-width: 1270px) {
    .gridContainer {
        grid-template-columns: 15% 1fr 1fr;
        grid-template-areas: "nav messagesContainer currentConvo";
        background-color: rgba(224, 224, 224, 0.5);
    }

    .messagesContainer {
        background-color: #fff;
        display: grid;
        grid-template-rows: 10% 1fr;
        background-color: rgba(224, 224, 224, 0.5);
        grid-template-areas: 
            "messagesHeader"
            "userMessages";
    }

    .nav {
        background-color: #fff;
        border: .25px solid rgba(224, 224, 224, 0.5);
    }

    .navHomeLogo {
        grid-area: navHomeLogo;
    }

    .navHomeText {
        grid-area: navHomeText;
    }

    .navNotificationsLogo {
        grid-area: navNotificationsLogo;
    }

    .navNotificationsText {
        grid-area: navNotificationsText;
    }

    .navMessagesLogo {
        grid-area: navMessagesLogo;
    }

    .navMessagesText {
        grid-area: navMessagesText;
    }

    .navProfileLogo {
        grid-area: navProfileLogo;
    }

    .navProfileText {
        grid-area: navProfileText;
    }

    .navWriteLogo {
        grid-area: navWriteLogo;
    }   

    .navWriteText {
        grid-area: navWriteText;
    }

    .navList {
        list-style-type: none;
    }

    .navListItem {
        padding-top: .75em;
        padding-bottom: .75em;
    }

    .navText {
        padding-left: .5em;
    }

    .navHomeLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navNotificationsLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navMessagesLink {
        color: #36D7B7;
        transition: .3s ease-in-out;
    }

    .navProfileLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navWriteLink {
        color: black;
        transition: .3s ease-in-out;
    }

    .navHomeLink:hover {
        color: #36D7B7;
    }

    .navNotificationsLink:hover {
        color: #36D7B7;
    }

    .navMessagesLink:hover {
        color: #36D7B7;
    }

    .navProfileLink:hover {
        color: #36D7B7;
    }

    .navWriteLink:hover {
        color: #36D7B7;
    }

    .navLogo {
        width: 42px;
        grid-area: navLogo;
    }

    .messagesHeader {
        background-color: #fff;
        grid-area: messagesHeader;
        border: .25px solid rgba(224, 224, 224, 0.5);
        display: flex;
        align-items: center;
    }

    .headerProfilePicture {
        display: none;
    }

    .messagesHeaderText {
        font-weight: 900;
        font-size: 1.5rem;
        padding-left: .5em;
    }

    .addMessageLogo {
        margin-left: 10em;
        color: #36D7B7;
        transition: .3s ease-in-out;
    }

    .addMessageLogo:hover {
        scale: 1.15;
        color: #27a088;
    }

    .userMessages {
        background-color: #fff;
        grid-area: userMessages;
        border: .25px solid rgba(224, 224, 224, 0.5);
        border-top: 7px solid rgb(247, 249, 249);
        display: grid;
        grid-template-rows: 14% 1fr;
        grid-template-areas: 
        "messagesSearchBarContainer"
        "messagesConvos";
        justify-items: center;
    }

    .messagesSearchBarContainer {
        grid-area: messagesSearchBarContainer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: .25px solid rgba(224, 224, 224, 0.5);
    }

    .messagesSearchBar {
        all: unset;
        background-color: rgb(240, 240, 240);
        border-radius: 5em;
        padding-left: 1em;
        width: 75%;
        height: 50%;
    }

    .messagesConvos {
        grid-area: messagesConvos;
    }

    .currentConvo {
        background-color: #fff;
        grid-area: currentConvo;
    }
}